@model Tuple<DesarrolloProyDSP.Models.ModuloEvento.EventoViewModel, DesarrolloProyDSP.Models.ModuloEvento.RegistroEventoViewModel,DesarrolloProyDSP.Models.ModuloEvento.MesaParticipanteViewModel>
@{
    Layout = null;
}
<!doctype html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Comprobante de registro</title>

    <link href="~/css/PDF_RegistroIndividual.css" rel="stylesheet" type="text/css" media="all" />
    <style>

        .participante {
            font-size: 16pt;
            font-family: 'Carrois Gothic', sans-serif;
            color: #888;
        }

        .aligmesa {
            font-size: 13pt;
            align-content: center;
            text-align: center;
            font-family: 'Carrois Gothic', sans-serif;
            color: #264863;
            height: 120px;
        }

        .mesa {
            margin: 20px auto 5px;
            font-size: 15pt;
            font-weight: 700;
            font-family: 'Carrois Gothic', sans-serif;
            color: #004d99;
            align-content: center;
            text-align: center;
            border-top: dashed thin;
            border-bottom: dashed thin;
            width: 350px;
        }

        .folio {
            text-align: right;
            margin-right: 130px;
            font-size: 16pt;
            font-weight: 700;
            color: ##004d99;
            font-family: 'Carrois Gothic', sans-serif;
            z-index: 10;
        }
    </style>

    <script type="text/php">

        if ( isset($pdf) ) {

        $font = Font_Metrics::get_font("verdana");;
        $size = 6;
        $color = array(0,0,0);
        $text_height = Font_Metrics::get_font_height($font, $size);

        $foot = $pdf->open_object();

        $w = $pdf->get_width();
        $h = $pdf->get_height();

        // Dibuja una línea en la parte inferior.
        $y = $h - $text_height - 24;
        $pdf->line(16, $y, $w - 16, $y, $color, 0.5);

        $pdf->close_object();
        $pdf->add_object($foot, "all");

        $text = "Page {PAGE_NUM} of {PAGE_COUNT}";

        // Centra el texto
        $width = Font_Metrics::get_text_width("Page 1 of 2", $font, $size);
        $pdf->page_text($w / 2 - $width / 2, $y, $text, $font, $size, $color);

        }
    </script>


</head>


<body>

    <div class="page">

        <h1><label>@Model.Item1.nombre</label></h1>

        <div>
            
            @if (Model.Item1.fVigenciaInicio.ToString("dd") != Model.Item1.fVigenciaFin.ToString("dd") && Model.Item1.fVigenciaInicio.ToString("MMM") == Model.Item1.fVigenciaFin.ToString("MMM"))
            {
                <p>Fecha del evento: <span>@Model.Item1.fVigenciaInicio.ToString("dd")</span> al <span>@Model.Item1.fVigenciaFin.ToString("dd")</span> de <span>@Model.Item1.fVigenciaInicio.ToString("MMMM").ToLower()</span></p>
            }
            else if ((Model.Item1.fVigenciaInicio.ToString("dd") == Model.Item1.fVigenciaFin.ToString("dd") || Model.Item1.fVigenciaInicio.ToString("dd") != Model.Item1.fVigenciaFin.ToString("dd")) && Model.Item1.fVigenciaInicio.ToString("MMM") != Model.Item1.fVigenciaFin.ToString("MMM"))
            {
                <p>Fecha del evento: <span>@Model.Item1.fVigenciaInicio.ToString("dd")</span> de <span>@Model.Item1.fVigenciaInicio.ToString("MMMM").ToLower()</span> al <span>@Model.Item1.fVigenciaFin.ToString("dd")</span> de <span>@Model.Item1.fVigenciaFin.ToString("MMMM").ToLower()</span></p>
            }
            else if (Model.Item1.fVigenciaInicio.ToString("dd") == Model.Item1.fVigenciaFin.ToString("dd") && Model.Item1.fVigenciaInicio.ToString("MMM") == Model.Item1.fVigenciaFin.ToString("MMM"))
            {
                <p>Fecha del evento: <span>@Model.Item1.fVigenciaInicio.ToString("dd")</span> de <span>@Model.Item1.fVigenciaInicio.ToString("MMMM").ToLower()</span></p>
            }

        </div>

        <div class="participante">@Model.Item2.nombre @Model.Item2.apellidoPat @Model.Item2.apellidoMat</div>

        @if (Model.Item3.listaMesaPRI.Count > 0)
        {
            <table width="100%" class="salto_tabla">
                <tbody>
                    <tr width="100%" align="center">
                        <th><div class="mesa" align="center">Mesas de Trabajo</div></th>
                    </tr>
                    @foreach (var item in Model.Item3.listaMesaPRI)
                    {
                        <tr align="center">
                            <td><label>@item.nombreMT</label></td>
                        </tr>
                    }
                    @*<tr align="center">
                        <td><label>Nombre de la mesa de trabajo 1</label></td>
                    </tr>
                    <tr align="center">
                        <td><label>Nombre de la mesa de trabajo 1</label></td>
                    </tr>
                    <tr align="center">
                        <td><label>Nombre de la mesa de trabajo 1</label></td>
                    </tr>
                    <tr align="center">
                        <td><label>Nombre de la mesa de trabajo 1</label></td>
                    </tr>*@

                </tbody>
            </table>
        }


        <div class="folio">FOLIO: @Model.Item2.folio</div>

    </div>

</body>
</html>
