@using PagedList.Mvc
@model  PagedList.IPagedList<BusinessModel.Models.ModuloBP.TabImagenBP>


<div>

    <div class="header-left">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })





    </div>


    <div class="clearfix"> </div>
    <div style="padding-top: 8px; padding-left: 10px; text-align: left" class="chit-chat-heading"> ARCHIVOS DE LA BUENA PRÁCTICA </div>
    @*<span class="text-muted m-r-sm">Mostrar 5 of 10 </span>*@
    <span class="text-muted m-r-sm">
        Mostrar @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        de @Model.PageCount
    </span>

    <div class="btn-group">
        @Html.PagedListPager(Model, page => Url.Action("Archivos", new { page }))
    </div>

    <div class="clearfix"> </div>
</div>


<!--inicia contenido correos-->
<table class="table tab-border" style="text-decoration-color: #000000">

    <tr>

        <th width="10%" align="center" style="text-align: center">No.</th>

        <th width="51%">Título</th>
        <th width="51%">Campo BP</th>
        <th width="18%" align="center" style="text-align: center">Previsualización</th>
        @if (ViewBag.EliminarArchivo == "true") {
        <th width="14%" align="center" style="text-align: center">Eliminar</th>
        }
    </tr>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
        <tr class="unread checked">
            <td align="center">
                @Model[i].figura
            </td>
            <td>
                @Model[i].Titulo
            </td>
            <td>
                @Model[i].campoBP
            </td>
            <td align="center">
                <a onclick="VistaPreviaArchivo(@Model[i].idImagen)"><i class="fa fa-paperclip"></i></a>

                <!--pop-up-grid-->
                @*<div id="popup">
                <div id="Figura1" class="mfp-hide" style="background: white; padding: 10px 0 10px 0; max-width: 629px; margin: 40px auto; position: relative; height:300px; border-radius: 5px;">
                    <div class="pop_up">
                        <div class="payment-online-form-left">
                            <img id="imagenA" width="100%" height="100%" alt="" />
                        </div>
                    </div>
                </div>


            </div>*@

                <!--pop-up-grid-->
            </td>
            @if (ViewBag.EliminarArchivo == "true")
            {
                <td align="center">
                    <i class="glyphicon_x glyphicon-trash" aria-hidden="true" onclick="EliminarArchivo(@Model[i].idImagen)"></i>
                </td>

            }
        </tr>
            }



    </tbody>
</table>

<script type="text/javascript">
    function EliminarArchivo(idArchivo)
    {
         $.ajax({
        type: "POST",
        url: '@Url.Action("EliminarArchivo", "BuenasPracticas")', // don't hard code url's
             data: { idImg: idArchivo},
        dataType: "html",
             success: function (response) // lowercase (not Success)
            {
               $('#tabArchivos').html(response);
                //alert(idArchivo);

             },
             error: function (response) {
                alert("Error al eliminar el Autor, vuelva a intentar.");
            }
        });
    }

    function VistaPreviaArchivo(idA){
         $.ajax({
        type: "POST",
        url: '@Url.Action("VistaPreviaArchivo", "BuenasPracticas")', // don't hard code url's
        data: { idArchivo: idA},
       // dataType: "html",
             success: function () // lowercase (not Success)
            {

                 window.open("VistaPreviaArchivo?idArchivo=" + idA, "Vista previa","width=600, height=400");
             },
             error: function () {
                alert("Error al subir el archivo.");
            }
        });
    }
</script>